<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="../static/imagens/icon.png">
    <link rel="stylesheet" href="../static/CSS/main.css">
    <script src="../Script/script.js"></script>
    <title>Login do Funcionário</title>
</head>

<body>
    <header>
        <h1>ZapLivros</h1>
    </header>
    <main>
        <nav id="main">
            <h2>Acesso equipe</h2>
            <label for="login">Login:</label>
            <input type="email" name="login" id="login"><br>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha"><br>
            <a th:href="@{/logado}" id="botao">Entrar</a>
            
        </nav>
    </main>
</body>

</html>
