<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Login do Funcionário</title>
</head>

<body>
    <header>
        <h1>ZapLivros</h1>
    </header>
    <main>
        <nav id="main">
            <h2>Acesso equipe</h2>
            <label for="login">Login:</label>
            <input type="email" name="login" id="login"><br>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha"><br>
            <a th:href="@{/logado}" id="botao">Entrar</a>
            <a th:href="@{/}">Voltar</a>
        </nav>
    </main>
</body>

</html>