<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zap Livros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="../static/imagens/icon.png">
    <link rel="stylesheet" href="../static/CSS/styles.css">
    <script src="../Script/script.js"></script>
</head>

<body>
    <header>
        <a th:href="@{/main}"><img src="../static/imagens/logo.png" id="logo" alt="Logo da Empresa"></a>
        <div id="buscar">
            <input type="search" id="busca" placeholder="Buscar livros">
            <input type="button" id="botao" value="Buscar">
        </div>

    </header>


    <nav class="menu-lateral">

        <div class="expandir">
            <i class="bi bi-list"></i>
        </div>

        <ul>
            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-house-door"></i></span>
                    <span class="txt-link">Home</span>
                </a>
            </li>

            <li id="drop-hover" class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-journal-bookmark-fill"></i></span>
                    <span class="txt-link">Categorias <i class="bi bi-caret-down-fill"></i></span>
                </a>
                <div class="drop">
                    <a href="#">Romance</a>
                    <a href="#">Filosofia</a>
                    <a href="#">Infantil</a>
                </div>
            </li>

            <li class="item-menu">
                <a href="#endereco">
                    <span class="icon"><i class="bi bi-geo-alt"></i></span>
                    <span class="txt-link">Endereços</span>
                </a>
            </li>

            <li class="item-menu">
                <a th:href="@{/admin}">
                    <span class="icon"><i class="bi bi-person"></i></span>
                    <span class="txt-link"> Cadastro</span>
                </a>
            </li>

            <li class="item-menu">
                <a href="https://www.instagram.com/zaplivros/">
                    <span class="icon"><i class="bi bi-instagram"></i></span>
                    <span class="txt-link">Instagram</span>
                </a>
            </li>

            <li class="item-menu">
                <a href="https://bit.ly/2pm8kjV">
                    <span class="icon"><i class="bi bi-whatsapp"></i></span>
                    <span class="txt-link">Whatsapp</span>
                </a>
            </li>
        </ul>
    </nav>


    <main>
        <div id="capa">
            <img src="imagens/capa.png" alt="livros novos toda semana">
        </div>
        <h1>Livros</h1>
        <div class="linhalivro">
            <div class="livro">
                <div class="livro-inner">
                    <div class="livro-front">
                        <img src="../static/imagens/Livros 20 reais/jane-austen.jpg" alt="Nome do Livro">
                        <p>Descrição do Livro</p>
                    </div>
                    <div class="livro-back sinopse">
                        <p>Sinopse do Livro Jane Austen...</p>
                    </div>
                </div>
            </div>
            <div class="livro">
                <div class="livro-inner">
                    <div class="livro-front">
                        <img src="../static/imagens/Livros 20 reais/anne-frank.jpg" alt="Nome do Livro">
                        <p>Descrição do Livro</p>
                    </div>
                    <div class="livro-back sinopse">
                        <p>Sinopse do Livro Anne Frank...</p>
                    </div>
                </div>
            </div>
            <div class="livro">
                <div class="livro-inner">
                    <div class="livro-front">
                        <img src="../static/imagens/Livros 20 reais/revolucao-dos-bichos.jpg" alt="Nome do Livro">
                        <p>Descrição do Livro</p>
                    </div>
                    <div class="livro-back sinopse">
                        <p>Sinopse do Livro Revolução dos Bichos...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="linhalivro">
            <div class="livro">
                <div class="livro-inner">
                    <div class="livro-front">
                        <img src="../static/imagens/Livros 20 reais/ruiva-popstar.jpg" alt="Nome do Livro">
                        <p>Descrição do Livro</p>
                    </div>
                    <div class="livro-back sinopse">
                        <p>Sinopse do Livro Ruiva Popstar...</p>
                    </div>
                </div>
            </div>
            <div class="livro">
                <div class="livro-inner">
                    <div class="livro-front">
                        <img src="../static/imagens/Livros 20 reais/caminho-samurai.jpg" alt="Nome do Livro">
                        <p>Descrição do Livro</p>
                    </div>
                    <div class="livro-back sinopse">
                        <p>Sinopse do Livro Caminho Samurai...</p>
                    </div>
                </div>
            </div>
            <div class="livro">
                <div class="livro-inner">
                    <div class="livro-front">
                        <img src="../static/imagens/Livros 10 reais/IMG_20240520_210328.jpg" alt="Nome do Livro">
                        <p>Descrição do Livro</p>
                    </div>
                    <div class="livro-back sinopse">
                        <p>Sinopse do Livro IMG_20240520_210328...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="linhalivro">
            <div class="livro">
                <div class="livro-inner">
                    <div class="livro-front">
                        <img src="../static/imagens/Livros 10 reais/IMG_20240520_210424.jpg" alt="Nome do Livro">
                        <p>Descrição do Livro</p>
                    </div>
                    <div class="livro-back sinopse">
                        <p>Sinopse do Livro IMG_20240520_210424...</p>
                    </div>
                </div>
            </div>
            <div class="livro">
                <div class="livro-inner">
                    <div class="livro-front">
                        <img src="../static/imagens/Livros 10 reais/IMG_20240520_210811.jpg" alt="Nome do Livro">
                        <p>Descrição do Livro</p>
                    </div>
                    <div class="livro- sinopse">
                        <p>Sinopse do Livro IMG_20240520_210811...</p>
                    </div>
                </div>
            </div>
            <div class="livro">
                <div class="livro-inner">
                    <div class="livro-front">
                        <img src="../static/imagens/Livros 20 reais/arte-da-guerra.jpg" alt="Nome do Livro">
                        <p>Descrição do Livro</p>
                    </div>
                    <div class="livro-back sinopse">
                        <p>Sinopse do Livro Arte da Guerra...</p>
                    </div>
                </div>
            </div>
        </div>

        <section id="endereco">
            <h1>Endereços</h1>
            <div class="santos">
                <h3>Santos</h3>
                <i class="bi bi-geo-alt"></i>
                <span> Shopping Iporanga - Ana Costa, 465 - Santos - Gonzaga</span> <br><br>
                <i class="bi bi-geo-alt"></i>
                <span> Shopping Praiamar - Rua Alexandre Martins, 80 - Aparecida</span> <br><br>
                <i class="bi bi-geo-alt"></i>
                <span> Shopping Balneário - Ana Costa, 549 - Gonzaga</span>
            </div>
            <h3>São Vicente</h3>
            <div class="são vicente">
                <i class="bi bi-geo-alt"></i>
                <span>Shopping Brisamar - R. Frei Gaspar, 365 - Centro</span>
            </div>
            <h3>Guarujá</h3>
            <div class="guaruja">
                <i class="bi bi-geo-alt"></i>
                <span>Shopping Guarujá Center - R. Mario Ribeiro, 357 - Centro</span>
            </div>
        </section>
    </main>

    <footer>
        <p>ZAP Livros &#169; Todos os direitos reservados</p>
    </footer>
</body>

</html>
