<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zap Livros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="../static/imagens/icon.png">
    <link rel="stylesheet" href="../static/CSS/styles.css">
    <script src="../Script/script.js"></script>
</head>

<body>
    <header>
        <a th:href="@{/main}"><img src="../static/imagens/logo.png" id="logo" alt="Logo da Empresa"></a>
        <div id="buscar">
            <input type="search" id="busca" placeholder="Buscar livros">
            <input type="button" id="botao" value="Buscar">
        </div>

    </header>


    <nav class="menu-lateral">

        <div class="expandir">
            <i class="bi bi-list"></i>
        </div>

        <ul>
            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-house-door"></i></span>
                    <span class="txt-link">Home</span>
                </a>
            </li>

            <li id="drop-hover" class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-journal-bookmark-fill"></i></span>
                    <span class="txt-link">Categorias <i class="bi bi-caret-down-fill"></i></span>
                </a>
                <div class="drop">
                    <a href="#romance">Romance</a>
                    <a href="#filosofia">Filosofia</a>
                    <a href="#infantil">Infantil</a>
                </div>
            </li>

            <li class="item-menu">
                <a href="#endereco">
                    <span class="icon"><i class="bi bi-geo-alt"></i></span>
                    <span class="txt-link">Endereços</span>
                </a>
            </li>

            <li class="item-menu">
                <a th:href="@{/admin}">
                    <span class="icon"><i class="bi bi-person"></i></span>
                    <span class="txt-link"> Cadastro</span>
                </a>
            </li>

            <li class="item-menu">
                <a href="https://www.instagram.com/zaplivros/">
                    <span class="icon"><i class="bi bi-instagram"></i></span>
                    <span class="txt-link">Instagram</span>
                </a>
            </li>

            <li class="item-menu">
                <a href="https://bit.ly/2pm8kjV">
                    <span class="icon"><i class="bi bi-whatsapp"></i></span>
                    <span class="txt-link">Whatsapp</span>
                </a>
            </li>
        </ul>
    </nav>


    <main>
      
        <div id="capa">
            <img src="../static/imagens/capa.png" alt="livros novos toda semana">
        </div>

        <div class="home">
            <h1>Quem Somos</h1>
            <p><i>"Um livro é um sonho que você segura em suas mãos."</i>
                - Neil Gaiman</p>
        </div>  
        <div class="descricao">
            <p>Somos uma livraria presente em toda a Baixada Santista, oferecendo livros a preços acessíveis. <br><br>
            Nosso objetivo é democratizar o acesso ao conhecimento e incentivar a paixão pela leitura. <br><br>
            Escolha suas histórias e venha sonhar conosco.
            </p>
            <img class="img-banca" src="../static/imagens/banca.JPG" alt="banca praiamar">
        </div>
        <h1>Livros</h1>
        <h3 id="romance">Romance</h3>
        <div class="linhalivro">

  
            <div class="livro">
                <div class="livro-inner">
                    <div class="livro-front">
                        <img src="../static/imagens/Livros 20 reais/jane-austen.jpg" alt="Nome do Livro">
                        <p><b>Orgulho e Preconceito - Jane Austen</b><br><br>$20,00</p>
                    </div>
                    <div class="livro-back sinopse">
                        <p>Elizabeth Bennet vive com sua mãe, pai e irmãs no campo, na Inglaterra. Por ser uma das filhas mais velhas, ela enfrenta uma crescente pressão de seus pais para se casar. Quando Elizabeth é apresentada ao belo e rico Darcy, faíscas voam. Embora haja uma química óbvia entre os dois, a natureza excessivamente reservada de Darcy ameaça a relação</p>
                    </div>
                </div>
            </div>
            <div class="livro">
                <div class="livro-inner">
                    <div class="livro-front">
                        <img src="../static/imagens/Livros 20 reais/anne-frank.jpg" alt="Nome do Livro">
                        <p><b>O Diário de Anne Frank</b><br><br>$20,00</p>
                    </div>
                    <div class="livro-back sinopse">
                        <p>Na Holanda ocupada pelos nazistas na Segunda Guerra Mundial, o comerciante Kraler abriga duas famílias de judeus em seu sótão. A jovem Anne Frank mantém um diário da vida cotidiana dos Franks e dos Van Daans, narrando a ameaça nazista bem como a dinâmica familiar. Um romance com Peter Van Daan causa ciúmes entre Anne e sua irmã, Margot. Anos depois de as duas famílias terem sido capturadas, Otto Frank volta ao sótão e acha o diário de sua filha.</p>
                    </div>
                </div>
            </div>
            <div class="livro">
                <div class="livro-inner">
                    <div class="livro-front">
                        <img src="../static/imagens/Livros 20 reais/ruiva-popstar.jpg">
                        <p><b>A Ruiva Popstar - Alice Clayton</b><br><br>$20,00</p>

                    </div>
                    <div class="livro-back sinopse">
                        <p>Narra a insurreição dos animais de uma granja contra seus donos. Progressivamente, porém, a revolução degenera numa tirania ainda mais opressiva que a dos humanos. Verdadeiro clássico moderno, concebido por um dos mais influentes escritores do século XX, A revolução dos bichos é uma fábula sobre o poder.</p>
                    </div>
                </div>
            </div>
        </div>
        <h3 id="filosofia">Filosofia</h3></a>
        <div class="linhalivro">
            <div class="livro">
                <div class="livro-inner">
                    <div class="livro-front">
                        <img src="../static/imagens/Livros 20 reais/revolucao-dos-bichos.jpg" alt="Nome do Livro">
                        
                        
                        <p><b>A Revolução dos Bichos - George Orwell</b><br><br>$20,00</p>
                    </div>
                    <div class="livro-back sinopse">
                        <p>Ao lado de seu namorado superstar apaixonado – o deus britânico Jack Hamilton – ela finalmente vive o sonho de ser estrela de televisão. Mas uma nova exigência dos produtores do programa faz o mundo de Grace desmoronar: emagrecer sete quilos para aparecer na telinha.</p>
                    </div>
                </div>
            </div>
            <div class="livro">
                <div class="livro-inner">
                    <div class="livro-front">
                        <img src="../static/imagens/Livros 20 reais/caminho-samurai.jpg" alt="Nome do Livro">
                        <p><b>O Caminho do Samurai - Inazo Nitobe</b><br><br>$20,00</p>
                    </div>
                    <div class="livro-back sinopse">
                        <p>Nesta obra clássica, Inazo Nitobe explora o código moral da classe guerreira japonesa, desde a importância dos rituais de polidez até o apavorante supremo autossacrifício: haraquikiri ou o suicídio.</p>
                    </div>
                </div>
            </div>
            <div class="livro">
                <div class="livro-inner">
                    <div class="livro-front">
                        <img src="../static/imagens/Livros 10 reais/mitologia-celta.jpg" alt="Nome do Livro">
                        
                        
                        <p><b>Mitologia Celta - Guia</b><br><br>$10,00</p>
                    </div>
                    <div class="livro-back sinopse">
                        
                        <p>Este guia leva o leitor por um passeio através do mundo celta, a partir da sua sociedade, das guerras que travaram, sua religião, deuses, deusas e heróis, numa viagem através do tempo e do espaço a um universo mágico e místico.</p>
                    </div>
                </div>
            </div>
        </div>
        <h3 id="infantil">Infantil</h3>
        <div class="linhalivro">
            <div class="livro">
                <div class="livro-inner">
                    <div class="livro-front">
                        <img src="../static/imagens/Livros 10 reais/humildade.jpg" alt="Nome do Livro">
                        <p><b>O que cabe no meu mundo 10 anos - Humildade</b><br><br>$10,00</p>
                    </div>
                    <div class="livro-back sinopse">
                        <p>Conheça essa história em que André, amigo de Cazé, o urso mais camarada do mundo, ensina aos colegas o valor da humildade, além de muitas outras coisas que ele sabe como ninguém.</p>
                    </div>
                </div>
            </div>
            <div class="livro">
                <div class="livro-inner">
                    <div class="livro-front">
                        <img src="../static/imagens/Livros 10 reais/princesa-esportes.jpg" alt="Nome do Livro">
                        <p><b>Um dia de princesa - Esportes</b><br><br>$10,00</p>
                    </div>
                    <div class="livro- sinopse">
                        <p>Divirta-se criando looks incríveis para suas princesas. São mais de 100 adesivos para você combinar a vontade.</p>
                    </div>
                </div>
            </div>
            <div class="livro">
                <div class="livro-inner">
                    <div class="livro-front">
                        <img src="../static/imagens/Livros 10 reais/falante.jpg" alt="Nome do Livro">
                        <p><b>A pílula falante</b><br><br>$10,00</p>
                    </div>
                    <div class="livro-back sinopse">
                        <p>A pílula falante leva o leitor ao universo do Sítio do Picapau Amarelo e narra um dos momentos marcantes da história de Emília, em que a espevitada boneca de pano começa a falar.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="localizar">
        <section id="endereco">
            <h1>Endereços</h1>
            <div class="santos">
                <h3>Santos</h3>
                <i class="bi bi-geo-alt"></i>
                <span> Shopping Iporanga - Ana Costa, 465 - Santos - Gonzaga</span> <br><br>
                <i class="bi bi-geo-alt"></i>
                <span> Shopping Praiamar - Rua Alexandre Martins, 80 - Aparecida</span> <br><br>
                <i class="bi bi-geo-alt"></i>
                <span> Shopping Balneário - Ana Costa, 549 - Gonzaga</span>
            </div>
            <h3>São Vicente</h3>
            <div class="são vicente">
                <i class="bi bi-geo-alt"></i>
                <span>Shopping Brisamar - R. Frei Gaspar, 365 - Centro</span>
            </div>
            <h3>Guarujá</h3>
            <div class="guaruja">
                <i class="bi bi-geo-alt"></i>
                <span>Shopping Guarujá Center - R. Mario Ribeiro, 357 - Centro</span>
            </div>
            
        </section>
        <img class="img-localizar" src="../static/imagens/localizar.png" alt="Onde Estamos">
    </div>

    </main>

    <footer>
        <p>ZAP Livros &#169; Todos os direitos reservados</p>
    </footer>
</body>

</html>
