<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>
        Principal
    </title>
</head>

<body>
    <h1>
        INTRODUÇÃO
        No âmbito do desenvolvimento tecnológico voltado para a inclusão, o
        transtorno do espectro autista (TEA) emerge como uma área de especial importância.
        O TEA é uma condição neurológica que afeta a comunicação, o comportamento social
        e a interação interpessoal. Indivíduos com TEA frequentemente enfrentam desafios
        significativos na expressão de suas necessidades, sentimentos e pensamentos, o que
        reforça a necessidade de soluções inovadoras e acessíveis para facilitar a
        comunicação e a interação.
        Nesse contexto, propõe-se o desenvolvimento de um aplicativo de
        comunicação alternativa aumentativa (CAA) destinado a atender às necessidades
        específicas de indivíduos com TEA. Este aplicativo oferecerá uma plataforma digital
        abrangente e adaptável, projetada para auxiliar na comunicação e expressão de
        pessoas com dificuldades de comunicação verbal decorrentes do TEA.
        Além de fornecer recursos de comunicação por meio de imagens, o aplicativo
        incluirá a funcionalidade de criação de quadros de rotina personalizados, uma
        ferramenta crucial para indivíduos com TEA que se beneficiam de rotinas estruturadas
        e previsíveis. Esses quadros de rotina poderão ser personalizados com imagens reais
        do ambiente cotidiano do usuário, promovendo assim uma maior compreensão e
        adesão às atividades diárias.
        Por meio deste projeto tecnológico, pretende-se não apenas abordar as
        dificuldades de comunicação enfrentadas por indivíduos com TEA, mas também
        promover sua autonomia, independência e inclusão social. Ao combinar tecnologia
        avançada com uma abordagem centrada no usuário, aspiramos a oferecer uma
        solução inovadora e eficaz que contribua significativamente para a qualidade de vida
        e o bem-estar desses indivíduos.
        4
        2 OBJETIVOS
         Nesta seção serão apresentados o objetivo geral e específico do trabalho.
        2.1 OBJETIVO GERAL
        Criar um aplicativo para auxiliar e desenvolver a comunicação de pessoas
        autistas, visando melhorar sua interação social e autonomia.
        2.2 OBJETIVOS ESPECÍFICOS
        Identificar as principais dificuldades de comunicação enfrentadas por pessoas
        autistas:
        a. Realizar uma revisão bibliográfica sobre as dificuldades de comunicação
        em pessoas autistas.
        b. Conduzir entrevistas com especialistas em autismo, como psicólogos,
        terapeutas ocupacionais e fonoaudiólogos.
        c. Aplicar questionários a cuidadores e familiares de pessoas autistas para
        compreender as barreiras de comunicação mais comuns.
        Analisar as funcionalidades e características de aplicativos existentes que
        visam auxiliar na comunicação de pessoas com autismo:
        a. Revisar a literatura sobre aplicativos de comunicação para pessoas com
        autismo.
        b. Avaliar aplicativos disponíveis no mercado, destacando pontos fortes e
        fracos.
        c. Identificar lacunas nos aplicativos existentes que o novo aplicativo
        poderá preencher.
        5
        Definir os requisitos funcionais e não funcionais do aplicativo:
        a. Requisitos Funcionais: Determinar as funcionalidades essenciais que o
        aplicativo deve oferecer, como:
         Suporte a símbolos visuais e voz sintetizada.
         Opções de personalização para adaptar às necessidades
        individuais dos usuários.
         Ferramentas de comunicação, como botões para expressar
        necessidades básicas e emoções.
        b. Requisitos Não Funcionais: Estabelecer critérios de qualidade e
        desempenho, tais como:
         Usabilidade: Interface intuitiva e fácil de usar.
         Desempenho: Tempo de resposta rápido.
         Segurança: Proteção de dados pessoais dos usuários.
         Compatibilidade: Funcionar em diferentes dispositivos e sistemas operacionais.
        Modelagem da Solução:
        a. Casos de Uso: Descrição detalhada das interações dos usuários com o
        sistema, incluindo diagramas de casos de uso.
        b. Modelagem de Dados: Criação de diagramas de entidaderelacionamento (ER) e definição da estrutura do banco de dados.
        Desenvolver um protótipo funcional do aplicativo, incorporando as funcionalidades definidas:
        a. Utilizar uma plataforma de desenvolvimento adequada para criar o protótipo do aplicativo.
        b. Integrar funcionalidades como símbolos visuais, voz sintetizada, e opções de personalização.
        c. Realizar testes internos para identificar e corrigir bugs.
    </h1>
</body>

</html>