<!DOCTYPE html>
<html lang="ptbr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>logado</title>
</head>

<body>
    <header>
        <nav>
            <h1>ZapLivros</h1>
            <div id="lateral">
                <p id="user">Teste</p> | <a id="deslogar" th:href="@{/admin}">Logout</a>
            </div>
        </nav>
    </header>
    <main>
        <div id="cima">
            <p id="usuario">Fulano</p>
            <p id="funcao">Peão</p>
        </div>
        <h3>Tela Principal</h3>
        <nav id="cadastros">
            <a th:href="@{/Cadastro}">
                <p id="telaprincipal">Cadastro de Funcionários</p>
            </a>
            <a href="cadastrolivro.html">
                <p id="telaprincipal">Cadastro de Livros</p>
            </a>
        </nav>
    </main>
</body>

</html>